BOT_TOKEN=123456789:ABCdefGHIjklMNOpqrsTUVwxyz
MINI_APP_URL=https://dr33r1.github.io/telegram-shop/index.html
PORT=3000
ADMIN_TOKEN=coffee10admin
ADMIN_TG_ID=8609341246
DATABASE_URL=postgresql://postgres:PASSWORD@db.xxxx.supabase.co:5432/postgres
